.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-cursor {
    display: inline-block;
    width: 1px;
    height: 42px;
    background-color: white;
    margin-left: 8px;
}

.input-cursor-2 {
    display: inline-block;
    width: 1px;
    height: 35px;
    background-color: white;
    margin-left: 5px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.input-cursor {
    animation: blink .6s linear infinite alternate;
}

.input-cursor-2 {
    animation: blink .6s linear infinite alternate;
}